@font-face {
    font-family:"le-monde-livre-std";
    src:url("https://use.typekit.net/af/513e79/00000000000000003b9b28e7/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/513e79/00000000000000003b9b28e7/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/513e79/00000000000000003b9b28e7/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
    }
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #000;
}
.nav1{
    padding: 0px 40px;
    width: 1840px;
    height: 33px;
    background-color: black;
    font-family: Rubik,sans-serif;
    color: #9c8e7f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1px solid #494949;
}
.nav-gauche{
    display: flex;
    flex-direction: row;
}
.nav-gauche img{
    width: 29.84px;
    height: 33px;
    margin-right: 50px;
}
.btn-games button{
    color: #9c8e7f;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: Rubik,sans-serif;
    font-size: 14px;
    height: 33px;
}
.btn-games{
    position: relative;
}
.btn-games button .sous-onglet{
    display: none;
}
.btn-games button:hover .sous-onglet{
    display: block;
    display: flex;
    max-width: none;
    left: -120px;
    flex-direction: row;
    position: absolute;
    z-index: 150;
    background-color: rgb(0, 0, 0);
    top: 33px;
    width: 1920px;
    height: 222px;
    padding: 50px 50px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #414141;
}
.sous-onglet{
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-evenly;
}
.sous-onglet a{
    display: flex;
    color: grey;
    
}
.l2m{
    display: flex;
    flex-direction: column;
}
.logo-l2m{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 215px;
    height: 135px;
    background-color: rgb(56, 56, 56);
    margin-bottom: 10px;
}
.logo-l2m img{
    margin: 0;
    width: 172px;
    height: 47.3px;
}
.gw2{
    display: flex;
    flex-direction: column;
}
.logo-gw2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 215px;
    height: 135px;
    background-color: rgb(56, 56, 56);
    margin-bottom: 10px;
}
.logo-gw2 img{
    margin: 0;
    width: 129px;
    height: 88.03px;
}
.bs{
    display: flex;
    flex-direction: column;
}
.logo-bs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 215px;
    height: 135px;
    background-color: rgb(56, 56, 56);
    margin-bottom: 10px;
}
.logo-bs img{
    margin: 0;
    width: 172px;
    height: 78.41px;
}
.aion{
    display: flex;
    flex-direction: column;
}
.logo-aion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 215px;
    height: 135px;
    background-color: rgb(56, 56, 56);
    margin-bottom: 10px;
}
.logo-aion img{
    margin: 0;
    width: 172px;
    height: 60px;
}
.gw{
    display: flex;
    flex-direction: column;
}
.logo-gw{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 215px;
    height: 135px;
    background-color: rgb(56, 56, 56);
    margin-bottom: 10px;
}
.logo-gw img{
    margin: 0;
    width: 193.5px;
    height: 49.16px;
}
.l2{
    display: flex;
    flex-direction: column;
}
.logo-l2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 215px;
    height: 135px;
    background-color: rgb(56, 56, 56);
    margin-bottom: 10px;
}
.logo-l2 img{
    margin: 0;
    width: 172px;
    height: 30.67px;
}
.nav-droite{
    display: flex;
}
.btn-globe button{
    color: #9c8e7f;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    height: 33px;
}
.btn-globe{
    position: relative;
}
.btn-globe button .sous-globe{
    display: none;
}
.btn-globe button:hover .sous-globe{
    display: block;
    display: flex;
    max-width: none;
    left: -175px;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    z-index: 160;
    background-color: rgb(0, 0, 0);
    top: 33px;
    width: 220px;
    height: 281px;
    padding: 20px 20px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #414141;
}
.titre-bresil{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: white;
    font-size: 14px;
}
.titre-bresil img{
    display: flex;
    align-items: center;
    margin-right: 8px;
}
.titre-bccoin{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: #9c8e7f;
    font-size: 14px;
}
.titre-bccoin img{
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.titre-info{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: #9c8e7f;
    font-size: 14px;
}
.icon-info{
    align-items: center;
    margin-right: 8px;
}
#diviseur{
    border-bottom: 1px solid #9c8e7f;
    margin-bottom: 10px;
}
.drapeau{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
}
.drapeau img{
    align-items: center;
    width: 20px;
    height: 12.5px;
    margin-right: 8px;
}
.globe-line{
    border-right: 1px solid #9c8e7f;
    display: inline-block;
    width: 1px;
    height: 12px;
}
.text-color{
    color: #9c8e7f;
    align-items: center;
    font-size: 14px;
    padding: 0px 16px;
}
#next{
   overflow-x: visible;
   height: auto;
   width: 100%;
   min-height: 100%;
   max-width: 100%;
}
.navbar2{
    display: flex;
    flex-direction: row;
    font-family: Source Sans Pro,Arial,Helvetica;
    height: 80px;
    width: 1920px;
    background: linear-gradient(90deg,#000 0,rgba(0,0,0,.5));
    color: rgb(211, 211, 194);
    font-size: 20px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 149;
}
.logo-aion-nav img{
    margin: 0 3em 0 45px;
    height: auto;
    width: 151px;
}
.in-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.btn-game button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.game-btn{
    display: inline-block;
    font-size: 20px;
    color: rgb(211, 211, 194);
    align-items: center;
    vertical-align: middle;
    width: 100px;
    height: 80px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}
.btn-game button .parent-game{
    display: none;
    position: relative;
}
.btn-game button:hover .parent-game{
    display: flex;
    max-width: none;
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #326cb5;
    top: 80px;
    width: 250px;
    height: 218px;
    padding: 20px 20px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #414141;
}
.btn-game button:hover{
    background-color: #326cb5;
}
.titre-navbar{
    display: flex;
    margin: 0;
    border: 0;
    align-items: center;
    justify-content: center;
    width: 114px;
    height: 80px;
    color: rgb(211, 211, 194);
    font-size: 16px;
    font-weight: bold;
}
.titre-navbar:hover{
    background-color: #326cb5;
}
#titre-navbar{
    display: flex;
    margin: 0;
    border: 0;
    align-items: center;
    justify-content: center;
    width: 114px;
    height: 80px;
    color: #6eb3e7;
    font-size: 16px;
    font-weight: bold;
}
#titre-navbar:hover{
    color: rgb(211, 211, 194);
    background-color: #326cb5;
}
#titre-navbar2:hover{
    color: rgb(211, 211, 194);
    background-color: #326cb5;
}
.titre-menu-nav{
    display: flex;
    color: #3cc9f5;
}
.titre-nav2{
    display: flex;
    color: #fff;
}
#titre-navbar2{
    display: flex;
    margin: 0;
    border: 0;
    align-items: center;
    justify-content: center;
    width: 114px;
    height: 80px;
    font-size: 16px;
    font-weight: bold;
    color: #f0f0f0;
    text-shadow: 1px 0 0 #db4437, 0 1px 0 #db4437, -1px 0 0 #db4437, 0 -1px 0 #db4437;
}
.in-nav-droit{
    display: flex;
    display: block;
    margin-left: 555px;
    width: 318px;
    height: 80px;
    background-image: url(https://cdn.ncwest.com/aion/10132022-BBEB2BC34E930FA4/images/global/play-free-cta-lg.png);
    text-align: center;
} 
.btn-jgm-text{
    margin: 0;
    border: 0;
    display: flex;
    display: inline-block;
    margin-top: 24px;
    font-weight: bold;
    color: white;
    font-size: 24px;
}
.carousel-slide-background{
    display: flex;
    display: block;
    position: relative;
    background-image: url(https://cdn.ncwest.com/cms/gnbi0wxv/211201-an-news-header-winter-wonderland-event-banners.jpg);
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    top: -80px;
    left: 0;
    width: 1920px;
    height: 820px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.carousel-hero-slide-background{
    display: flex;
    display: block;
    position: relative;
    background-image: url(https://cdn.ncwest.com/cms/gnbi0wxv/211201-an-news-header-winter-wonderland-event-banners.jpg);
    z-index: 0;
    opacity: 1;
    -webkit-mask-image: url(https://cdn.ncwest.com/aion/01242023-DAEC1A83EB9E8666/images/masks/inkmask_bottomleft-256.ebebd471.png);
    mask-image: url(https://cdn.ncwest.com/aion/01242023-DAEC1A83EB9E8666/images/masks/inkmask_bottomleft-256.ebebd471.png);
    -webkit-mask-size: 3300% 100%;
    mask-size: 3300% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-origin: border-box;
    mask-origin: border-box;
    mask-type: luminance;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-animation-name: maskUp;
    animation-name: maskUp;
    -webkit-animation-timing-function: steps(32);
    animation-timing-function: steps(32);
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.carousel-slide-content{
    display: flex;
    width: 80%;
    position: absolute;
    top: 48%;
    z-index: 145;
    color: rgb(236, 236, 236);
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    text-shadow: 1px 1px 1px rgb(0, 0, 50%);
    line-height: 1;
    left: 130px;
    margin-left: 0;
    text-align: left;
}
.carousel-slide-content-title{
    font-family: le-monde-livre-std,trajan-pro-3,serif;
    font-size: 70px;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
    letter-spacing: 1.5px;
    line-height: 1.07;
    margin-bottom: 5px;
}
.carousel-hero-slide-content-summary{
    font-family: le-monde-livre-std,trajan-pro-3,serif;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
    font-size: 18px;
}
.carousel-slide-content-buttom{
    padding-top: 25px;
    position: absolute;
    top: 50px;
    width: 237.56px;
    height: 20px; 
}
.carousel-slide-content-buttom{
    border: 0;
    position: relative;
    z-index: 160;
    color: #fff;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    cursor: pointer;
    padding: 15px 40px;
    font-size: 14px;
    font-family: Source Sans Pro,Arial,Helvetica;
    border: 1px solid #fff;
    border-radius: 5px;
    background: transparent;
    text-transform: uppercase;
    opacity: 1;
    white-space: nowrap;
    transition: color .3s;
    background: rgba(0,0,0,.5);
}
.buttom-carousel-slide-content{
    position: absolute;
    flex-direction: row;
    margin-top: 17.5px;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.carousel-slide-content-buttom:hover{
    background-color: #3ccaf596;
}
.faetured-news-wrapper{
    display: flex;
    display: block;
    margin: 0;
    border: 0;
    position: relative;
    top: -6em;
    margin-bottom: -6em;
    z-index: 2;
    padding: 0 7.5em;
    text-align: left;
    width: 2400px;
    margin: 0 auto;
    max-width: 100%;
}
.faetured-news-wrapper p{
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-family: Source Sans Pro,Arial,Helvetica;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.news-card{
    display: flex;
    flex-direction: column;
    background-color: #000;
    height: auto;
    position: relative;
    display: inline-block;
    height: 422px;
    width: 333.78px;
    margin-bottom: 1em;
    overflow: hidden;
    border-radius: 5px;
}
.thumb-card{
    padding: 0;
    background-image: url(https://cdn.ncwest.com/cms/41cc5ymm/201109-an-news-thumb-unshackled-fate-new-zone.jpg);
    height: 166.88px;
    border-bottom-color: transparent;
    width: 333.75px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border-bottom: 5px;
    border-bottom-style: solid;
}